<!-- List of Camer Assignments -->
<button type="button" (click)="addAssignment()">New Assignment</button>
<button type="button" [disabled]="!rowSelected" (click)="reassignAssignment()">Reassign</button>
<button type="button" [disabled]="!rowSelected" (click)="removeAssignment()">Remove</button>
<ag-grid-angular #assignmentGrid style="width: 100%; height: 500px;" class="ag-theme-alpine" [columnDefs]="columnDefs" [rowData]="assignments" rowSelection="single" (rowSelected)="rowSelect()"></ag-grid-angular>
