//Setting Up Variables
$mask-color: rgba(0, 0, 0, .3);
$modal-background: #fff;
$main-topper-background: #97b8c8;
$modal-topper-background: #cce5f1;
$button-color: #667791;
$button-color-secondary: #9ba9be;
$button-text-color: rgb(250,235, 215);
$button-text-color-secondary: rgb(244, 245, 235);
$button-disabled-color: #ccc;
$button-disabled-text-color: #999;
